@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.organizacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.organizacoes img{
    width: 100%;
    margin: 0rem 0rem;
}

h1 {
    font-family: 'Syne Mono';
    font-size: 23px;
    margin: 2rem 1rem;
    width: 100%;
    text-align: center;
}

@media (max-width:900px){
    .organizacoes img{
        width: 75%;
    }
}